@model Beta_Centauri.Models.tblRegistration

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tblRegistration</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CenterCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CenterCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Semester)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Semester)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mobile)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mobile)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmailId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmailId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FatherName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FatherName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ContactNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ContactNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UploadPhoto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UploadPhoto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsApproved)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsApproved)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblBloodGroup.BloodGroup)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblBloodGroup.BloodGroup)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblBranch.BranchName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblBranch.BranchName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblCollege.CollegeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblCollege.CollegeName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblCourse.CourseName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblCourse.CourseName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblDistrict.DistrictName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblDistrict.DistrictName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblState.StateName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblState.StateName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblStream.StreamName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblStream.StreamName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
